name: Iterations
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches:
      - iter12
      - iter13
      - iter14
      - iter15
      - iter16
      - iter17
      - iter18
      - iter19
      - iter20
      - iter21
      - iter22
      - iter23
      - iter24
  push:
    branches:
      - main
      - iter12
      - iter13
      - iter14
      - iter15
      - iter16
      - iter17
      - iter18
      - iter19
      - iter20
      - iter21
      - iter22
      - iter23
      - iter24
jobs:
  shortenertest:
    runs-on: ubuntu-latest
    env:
      GO_ENV: ci
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: shortly-test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.7'

      - name: Install psql
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Load schema.sql
        env:
          PGPASSWORD: postgres
        run: |
          psql -h localhost -U postgres -d shortly-test -f db/schema.sql

      - name: Download autotests binaries
        uses: robinraju/release-downloader@v1.11
        with:
          repository: Yandex-Practicum/go-autotests
          latest: true
          fileName: "*"
          out-file-path: .tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup autotest binary
        run: |
          chmod -R +x $GITHUB_WORKSPACE/.tools
          mv $GITHUB_WORKSPACE/.tools/shortenertestbeta /usr/local/bin/shortenertestbeta
          mv $GITHUB_WORKSPACE/.tools/random /usr/local/bin/random

      - name: Setup go deps
        run: |
          go install golang.org/x/tools/cmd/goimports@latest

      - name: Build server binary
        run: |
          cd cmd/shortener
          go build -buildvcs=false -o shortener

      - name: "Code increment #1"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration1$ \
              -binary-path=cmd/shortener/shortener

      - name: "Code increment #2"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration2$ -source-path=.

      - name: "Code increment #3"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration3$ -source-path=.

      - name: "Code increment #4"
        run: |
          SERVER_PORT=$(random unused-port)
          shortenertestbeta -test.v -test.run=^TestIteration4$ \
              -binary-path=cmd/shortener/shortener \
              -server-port=$SERVER_PORT

      - name: "Code increment #5"
        run: |
          SERVER_PORT=$(random unused-port)
          shortenertestbeta -test.v -test.run=^TestIteration5$ \
              -binary-path=cmd/shortener/shortener \
              -server-port=$SERVER_PORT

      - name: "Code increment #6"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration6$ \
              -source-path=.

      - name: "Code increment #7"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration7$ \
              -binary-path=cmd/shortener/shortener \
              -source-path=.

      - name: "Code increment #8"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration8$ \
              -binary-path=cmd/shortener/shortener

      - name: "Code increment #9"
        run: |
          TEMP_FILE=$(random tempfile)
          shortenertestbeta -test.v -test.run=^TestIteration9$ \
              -binary-path=cmd/shortener/shortener \
              -source-path=. \
              -file-storage-path=$TEMP_FILE

      - name: "Code increment #10"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration10$ \
              -binary-path=cmd/shortener/shortener \
              -source-path=. \
              -database-dsn='postgres://postgres:postgres@localhost:5432/shortly-test?sslmode=disable'

      - name: "Code increment #11"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration11$ \
              -binary-path=cmd/shortener/shortener \
              -database-dsn='postgres://postgres:postgres@localhost:5432/shortly-test?sslmode=disable'

      - name: "Code increment #12"
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration12$ \
              -binary-path=cmd/shortener/shortener \
              -database-dsn='postgres://postgres:postgres@localhost:5432/shortly-test?sslmode=disable'

      - name: "Code increment #13"
        if: |
          github.ref == 'refs/heads/main' ||
          github.head_ref == 'iter13' ||
          github.head_ref == 'iter14' ||
          github.head_ref == 'iter15' ||
          github.head_ref == 'iter16' ||
          github.head_ref == 'iter17' ||
          github.head_ref == 'iter18' ||
          github.head_ref == 'iter19' ||
          github.head_ref == 'iter20' ||
          github.head_ref == 'iter21' ||
          github.head_ref == 'iter22' ||
          github.head_ref == 'iter23' ||
          github.head_ref == 'iter24'
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration13$ \
              -binary-path=cmd/shortener/shortener \
              -database-dsn='postgres://postgres:postgres@localhost:5432/shortly-test?sslmode=disable'

      - name: "Code increment #14"
        if: |
          github.ref == 'refs/heads/main' ||
          github.head_ref == 'iter14' ||
          github.head_ref == 'iter15' ||
          github.head_ref == 'iter16' ||
          github.head_ref == 'iter17' ||
          github.head_ref == 'iter18' ||
          github.head_ref == 'iter19' ||
          github.head_ref == 'iter20' ||
          github.head_ref == 'iter21' ||
          github.head_ref == 'iter22' ||
          github.head_ref == 'iter23' ||
          github.head_ref == 'iter24'
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration14$ \
              -binary-path=cmd/shortener/shortener \
              -database-dsn='postgres://postgres:postgres@localhost:5432/shortly-test?sslmode=disable'

      - name: "Code increment #15"
        if: |
          github.ref == 'refs/heads/main' ||
          github.head_ref == 'iter15' ||
          github.head_ref == 'iter16' ||
          github.head_ref == 'iter17' ||
          github.head_ref == 'iter18' ||
          github.head_ref == 'iter19' ||
          github.head_ref == 'iter20' ||
          github.head_ref == 'iter21' ||
          github.head_ref == 'iter22' ||
          github.head_ref == 'iter23' ||
          github.head_ref == 'iter24'
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration15$ \
              -binary-path=cmd/shortener/shortener \
              -database-dsn='postgres://postgres:postgres@localhost:5432/shortly-test?sslmode=disable'

      - name: "Code increment #16"
        if: |
          github.ref == 'refs/heads/main' ||
          github.head_ref == 'iter16' ||
          github.head_ref == 'iter17' ||
          github.head_ref == 'iter18' ||
          github.head_ref == 'iter19' ||
          github.head_ref == 'iter20' ||
          github.head_ref == 'iter21' ||
          github.head_ref == 'iter22' ||
          github.head_ref == 'iter23' ||
          github.head_ref == 'iter24'
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration16$ \
              -source-path=. \

      - name: "Code increment #17"
        if: |
          github.ref == 'refs/heads/main' ||
          github.head_ref == 'iter17' ||
          github.head_ref == 'iter18' ||
          github.head_ref == 'iter19' ||
          github.head_ref == 'iter20' ||
          github.head_ref == 'iter21' ||
          github.head_ref == 'iter22' ||
          github.head_ref == 'iter23' ||
          github.head_ref == 'iter24'
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration17$ \
              -source-path=. \

      - name: "Code increment #18"
        if: |
          github.ref == 'refs/heads/main' ||
          github.head_ref == 'iter18' ||
          github.head_ref == 'iter19' ||
          github.head_ref == 'iter20' ||
          github.head_ref == 'iter21' ||
          github.head_ref == 'iter22' ||
          github.head_ref == 'iter23' ||
          github.head_ref == 'iter24'
        run: |
          shortenertestbeta -test.v -test.run=^TestIteration18$ \
              -source-path=. \
